.comic-preview{
  color: #646464;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
.image-preview{
  max-width: 100%;
  margin-bottom: 30px;
}
.description-container .titulo{
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}
.description-container .info{
  font-weight: 600;
}
.description-container .descripcion{
  margin-top: 30px;
}